@model MarketClubMvc.Models.ModelsDto.LoginDto
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">@Localizer["LoginTitle"]</h1>
<hr />
<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-8 col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label fw-bold">@Localizer["UsernameTitle"]</label>
                    <input asp-for="Username" class="form-control mt-2 text-center" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label mt-3 fw-bold">@Localizer["PasswordTitle"]</label>
                    <input asp-for="Password" class="form-control mt-2 text-center" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group text-center mt-4">
                    <input type="submit" value="@Localizer["SubmitButton"]" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
